<div class="main-who">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img5.goodfon.com/wallpaper/nbig/e/de/lena-katina-t-a-t-u-ryzhaia-litso-glaza-guby-pomada-vzgliad.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.pinimg.com/originals/9b/b7/55/9bb75560f8a920f152be45f09ca57916.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.pinimg.com/originals/c7/7a/76/c77a76ff14c93f30c3d9c5d2240859e6.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://lastfm.freetls.fastly.net/i/u/770x0/1b4c5d131cdc42ccb0660461db754c51.jpg" class="d-block w-100" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>